:root {
  --panels-background: #414154;
  --panels-foreground: whitesmoke;
  --entries-background: #dbdcf9;
  --new-entry-color: #888;
  --new-entry-color-hover: #ccc;
  --child-entry-background: whitesmoke;
  --child-entry-foreground: #333;
}

* {
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html, body, #app {
  min-height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

textarea {
  width: 100%;
  border: 0;
  outline: none;
  background: inherit;
}

main {
  width: 100%;
  min-height: 100vh;

  display: flex;
  main > * { flex: auto; }
}

#entry {
  background: var(--panels-background);
  color: var(--panels-foreground);
  text-align: center;
  width: 270px;
  font-size: 120%;
  padding: 15px;
  position: relative;

  .wrapper {
    min-height: 20px;
    width: 100%;
  }

  .content .wrapper {
    min-height: 140px;
  }

  .key {
    background-color: rgba(239, 186, 149, 0.51);
    color: rgb(230, 224, 224);
    padding: 8px;
    margin: -15px -15px 12px;

    .separator {
      margin: 0 6px;
    }
    .partial-id {
      font-size: 86%;
      text-decoration: none;
      color: inherit;
      transition: all 500ms;

      &:hover {
        text-decoration: underline;
        padding: 2px 4px;
        color: white;
        background: var(--panels-background);
      }
    }
  }

  .name {
    font-size: 113%;
    margin: 5px 0;
    word-break: break-word;

    textarea {
      font-size: 110%;
      background: var(--panels-foreground);
      color: var(--panels-background);
      padding: 4px 6px;
    }
  }

  .tags {
    text-align: left;

    .tag {
      display: inline-block;
      padding: 2px 8px;
      background: black;
      color: white;
      margin: 1px 3px;
      font-size: 80%;
      border-radius: 6px;
      border: none;
    }

    .react-tagsinput {
      text-align: left;
      padding: 2px 2px 0 0;
      background: rgba(245, 245, 220, 0.2);

      & > span {
        display: flex;
        flex-wrap: wrap;
      }
    }

    .react-tagsinput-input {
      flex-grow: 3;

      input {
        min-width: 100%;
        padding: 5px;
        background-color: inherit;
        color: inherit;
        border: 0;
        outline: none;
      }
    }

    .react-tagsinput-tag {
      flex-shrink: 3;

      a::before {
        content: " ×";
      }
    }

    .react-tagsinput-remove {
      cursor: pointer;
      font-weight: bold;
    }
  }

  .content {
    font-size: 75%;
    text-align: justify;
    padding: 6px;
    border-radius: 7px;
    background: #eee;
    color: #333;
    margin: 20px 0;
    white-space: pre-wrap;

    &.empty {
      background: inherit;
    }

    textarea {
      min-height: 138px;
    }
  }

  .users {
    margin: 43px auto;

    .group {
      display: flex;
      flex-wrap: wrap;
    }

    .start-add-member {
      flex-grow: 3;
      margin: 0 21px;
    }

    .add-member {
      flex-grow: 20;
      order: -1;
      width: 100%;
      display: flex;
      margin-bottom: 15px;

      & > * {
        flex: auto;
      }

      .Select {
        flex-grow: 10;
      }

      .react-tangle-input {
        text-align: center !important;
        margin: 3px;
        background: rgba(239, 186, 149, 0.77);
        color: white;
        line-height: 14px;
        width: 28px;
        height: 28px;
        border-radius: 14px;
        padding: 6px;
      }
    }

    .user {
      margin: 0 2px;
      position: relative;
    }

    .user:after {
      content: attr(permission);
      position: absolute;
      top: -5px;
      right: -5px;
      background: rgba(239, 186, 149, 0.77);
      color: white;
      border-radius: 18px;
      line-height: 14px;
    }

    .direct {
      border-bottom: 1px dashed var(--panels-foreground);
      margin: 19px;
      padding-bottom: 14px;
    }

    .direct {
      .user:after {
        font-size: 10px;
        width: 15px;
        height: 15px;
      }
      .user img {
        height: 40px;
        border-radius: 20px;
      }
    }

    .implied {
      .user:after {
        font-size: 8px;
        width: 12px;
        height: 12px;
      }
      .user img {
        height: 20px;
        border-radius: 10px;
      }
    }
  }
}

#entries {
  background: var(--entries-background);
  flex-grow: 3;
  padding: 18px;
  overflow-y: auto;
  display: flex;

  .entries-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 124px;
    margin-right: 6px;
  }

  .new {
    opacity: 0.7;
    text-align: center;
    font-size: 200%;
    width: 96%;
    margin: 2% auto;
    padding: 2px;
    cursor: pointer;
    border: 3px dashed var(--new-entry-color);
    color: var(--new-entry-color);

    &:hover {
      color: var(--new-entry-color-hover);
      border-color: var(--new-entry-color-hover);
    }
  }

  .placeholder {
    width: 100%;
    height: 50%;
    flex-shrink: 100;
  }

  .entry {
    padding: 6px;
    background-color: var(--child-entry-background);
    color: var(--child-entry-foreground);
    border-radius: 5px;
    margin: 4px auto;
    min-height: 40px;
    min-width: 40px;
    width: 96%;
    max-width: 170px;
    word-break: break-word;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      box-shadow: inset 0 0 0 2000px rgba(120, 50, 100, 0.1);
      transform: rotate(6deg);

      .content:after {
        box-shadow: inset 0 0 0 2000px rgba(120, 50, 100, 0.08);
      }
    }

    &:active {
      transform: none;
    }

    .name {
      font-size: 110%;
      text-align: center;
      margin-bottom: 6px;
      text-decoration: none;
      color: inherit;
    }
    .content {
      font-size: 80%;
      max-height: 90px;
      overflow: hidden;
      white-space: pre-wrap;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 40px;
        width: 100%;
        background: linear-gradient(transparent -110px, var(--child-entry-background) 40px);
      }
    }
  }
}

#comment-handle {
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 13px;
  border-radius: 4px 0 0 20px;
  background: var(--panels-background);
  color: var(--panels-foreground);
  transition: all 0.5s ease;

  &.is-open {
    right: 200px;
  }
}

#comments {
  background: var(--panels-background);
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.5s ease;

  &.hidden {
    width: 0;
  }

  .comment {
    display: flex;
    margin: 7px;

    &:hover {
      background: #3cbdbd;
    }

    & > * {
      flex: auto;
    }

    & > div:first-child {
      flex-shrink: 3;
      text-align: center;
      padding-top: 7px;
    }
    & > div:last-child {
      flex-grow: 3;
    }

    img {
      width: 40px;
      border-radius: 12px;
    }
    .author {
      color: white;
      font-size: 90%;
      margin-bottom: 7px;
    }
    .content {
      background: #eee;
      color: #333;
      padding: 4px 7px;
      margin-right: 6px;
    }
  }
}
